db.sqlite3
manage.py
Website/__pycache__/*
*.swp
*~
Website/migrations/*
notes.txt
__pycache__
static/img/*
test_alerts.py
tests_alert_models.py
*.pyc
initialize_flip_profits.py
assign_user_to_existing_data.py
